.card-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.title {
    font-weight: 700;
}

.image {
    max-width: 200px;
}

.buttons {
    display: flex;
}